<!doctype HTML>
<html>
    <head>
        <title>Py CMS</title>
        <link rel="stylesheet" href="/admin/templates/backend.css">
            
    </head>
<body>
    <div class="grid-container">
        <div class="spare"></div>
        <div class="navigation">
            <nav>
                | <a href="#">Home </a> 
                | <a href="#">About </a> 
                | <a href="#">Blog </a> 
                | <a href="#">Login </a> 
                |
    </nav>
        </div>
        <div class="aside">
            <h2>Sub Menu</h2>
            | <a href="#">Home </a> 
            | <a href="#">About </a> 
            | <a href="#">Blog </a> 
            | <a href="#">Login </a> 
            |
        </div>
        <div class="content">
            
        <div class="footer1"><strong>Twitter Feed</strong>
                <hr>
                    15/02/19 - Hooray Python
                    <br>05/02/19 - Mean Stack
                    <br>01/02/19 - Python at last
        
        </div>
        <div class="footer2"><strong>Latest Projects</strong>
                <hr>   
        </div>
        <div class="footer3"><strong>Get in Touch</strong>
                <hr>
                <address>
                    email: <a href="mailto:post@devkbk.me">Post@devbk.me</a>
                </address>
        </div>
    </div>

</body>
</html>
